body{
    background-color: pink;
    width: 300px;
    height: 1000px;
}
header{
    background-color: red;
    height: 60px;
    width: 100%;
    margin: -8px 0px 0px -7.5px;
}
#three_line{
    float: right;
    padding: 15px 20px 0px 0px;
    height: 50%;
    color: black;
}
#logo{
    height: 70%;
    border-radius: 50%;
    margin: 2px 0px 0px 6px;
}
#title{
    font-size: 30px;
    margin: 12px 0px 0px 10px;
    justify-content: center;
}
#logo-title{
    height: 80px;
    display: inline-flex;
}
#chaumin{
    height: 30px;
    width: 40%;
    margin: 10px 0px 0px 10px;
    background-color: blue;
}
